body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #4664bd;
}

.scene-tooltip {
  color: black;
  font-size: 14px;
  background-color: black ;
  color: #fff;
  border-radius: 6px;
}

.header{
  display: flex;
  justify-content: space-between; 
  margin: 0px 20px;
}

.header-elt{
  font-size:1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}